<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fabulash"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CameraPreview"
            android:exported="false" />
        <activity
            android:name=".NewReview"
            android:exported="false" />
        <activity
            android:name=".EditReview"
            android:exported="false" />
        <activity
            android:name=".MyReviews"
            android:exported="false" />
        <activity
            android:name=".Reprogramar"
            android:exported="false" />
        <activity
            android:name=".ModifyCardData"
            android:exported="false" />
        <activity
            android:name=".ModifyCard"
            android:exported="false" />
        <activity
            android:name=".DeleteCard"
            android:exported="false" />
        <activity
            android:name=".RegisterCard"
            android:exported="false" />
        <activity
            android:name=".MyAppointments"
            android:exported="false" />
        <activity
            android:name=".ConfirmedAppointment"
            android:exported="false" />
        <activity
            android:name=".ChoosePayment"
            android:exported="false"
            android:label="@string/title_activity_choose_payment"
            android:theme="@style/Theme.Fabulash" />
        <activity
            android:name=".ChooseAppointment"
            android:exported="false" />
        <activity
            android:name=".ChooseEmployee"
            android:exported="false" />
        <activity
            android:name=".modificar_datos"
            android:exported="false" />
        <activity
            android:name=".ChooseLashes"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".ViewCards"
            android:exported="false" />
        <activity
            android:name=".ChooseService"
            android:exported="false"
            android:label="@string/title_activity_choose_service"
            android:theme="@style/Theme.Fabulash" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>